
* {
    background-color: #ffffff;
}

.head {
    background-color:#4b264b;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    color: antiquewhite;
}
.pics {
    width: 300px;height: 300px;
    stroke: rgb(17, 138, 138);
    border-radius: 70px;
}
.describe,.list {
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.note,#ingredients {
    color: blue;
}
